/* Room.css */

.yht-room {
    width: 1850px;
}

.yht-room #table {
    display: inline-block;
    margin-left: 30px;
}

.yht-room #chat {
    vertical-align:bottom;
    display: inline-block;
    margin-left: 40px;
}

.yht-room #chat #header {
    height: 50px;
    display: flex;
    margin: 20px 0px;
}

.yht-room #chat #player {
    flex-grow: 1;
    font-size: 3rem;
    font-weight: bold;
}

.yht-room #chat #header button {
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
    width: 130px;
    margin-right: 10px;
    outline: 0;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: white;
}

.yht-room #chat #header button:hover {
    cursor: pointer;
    background-color: rgb(255, 238, 238);
}