/* List.css */

.yht-list {
    margin: 0px 30px;
    height: 700px;
    overflow: scroll;
}

.yht-list button {
    padding: 0px 20px;
    font-size: 2rem;
    font-weight: bold;
    outline: 0;
    background-color: white;
    border: none;
    border-bottom: 3px solid lightgray;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.yht-list button.room:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 232);
    border-radius: 10px 10px 0px 0px;

    transition: transform 0.1s linear;
    transform: scale(1.01)
}

.yht-list button > span {
    flex: 1;
    text-align: left;
}

.yht-list button #state {
    margin-right: 20px;
}

.yht-list button > span > p {
    display: inline;
    color: gray;
}

.yht-list .player span + p {
    font-size: 1.5rem;
    color: gray;
}

.yht-list .room .off {
    color: red;
}

.yht-list .player .off {
    color: rgb(255, 123, 0);
}

.yht-list button .on {
    color: rgb(56, 201, 37);
}