/* Dice.css */

.yht-dice div {
    font-size: 10rem;
    display: inline-block;
    height: 0px;
    min-height: 10px;
    margin: 0px 10px;
}

.yht-dice span {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    font-weight: bold;
    height: 30px;
}

.yht-dice div.active {
    cursor: pointer;
}

.yht-dice div.isSelected {
    color: red;
}