/* Dice.css */

.yht-dice div {
    font-size: 130px;
    display: inline-block;
    height: 0px;
    min-height: 10px;
    margin: 10px;
}

.yht-dice span {
    font-size: 24px;
    display: block;
    text-align: center;
    font-weight: bold;
    height: 30px;
}

.yht-dice div.active {
    cursor: pointer;
}

.yht-dice div.isSelected {
    color: red;
}