
.yht-scoretable table, th, td {
    font-size: 15px;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
}

.yht-scoretable table {
    width: 750px;
}

.yht-scoretable #Name {
    width: 75px;
}

.yht-scoretable thead th {
    background-color: lightgrey;
}

.yht-scoretable button {
    width: 60px;
    border-radius: 5px;
    background-color: white;
    outline: 0;
    padding: 5px;
}

.yht-scoretable button:not(#Sum):not(#Bonus):not(#Total) {
    border: 1px solid;
}

.yht-scoretable #Sum, #Bonus, #Total {
    border-style: none;
}

.yht-scoretable button:hover:not(#Sum):not(#Bonus):not(#Total) {
    cursor: pointer;
    background-color: lightpink;
}