
.yht-dicearea {
    vertical-align: middle;
}

.yht-dicearea > div {
    vertical-align: middle;
    display: inline-block;
}

.yht-dicearea > div > div {
    width: 800px;
}

.yht-dicearea #dices {
    text-align: center;
}

.yht-dicearea button {
    font-size: 30px;
    font-weight: bold;
    width: 720px;
    height: 60px;
    margin: 20px auto;
    outline: 0;
    border-radius: 20px;
    border: 3px solid #000;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.yht-dicearea button:hover {
    background-color: #e9feff;
}

.yht-dicearea #turn {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 300px;
}

.yht-dicearea #turn > span {
    font-size: 40px;
}