
.yht-scoretable table,
.yht-scoretable th,
.yht-scoretable td {
    font-size: 1.5rem;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
}

.yht-scoretable th#Name {
    height: 50px;
    word-wrap:break-word;
}

.yht-scoretable th.this {
    background-color: #fff9aa;
}

.yht-scoretable table {
    border: 3px solid #000;
    width: 880px;
}

.yht-scoretable th,
.yht-scoretable td {
    height: 20px;
    border: 1px solid #000;
}

.yht-scoretable tr#title {
    border-bottom: 3px solid #000;
}

.yht-scoretable tr#Total,
.yht-scoretable tr#Choice,
.yht-scoretable tr#Sum {
    border-top: 3px solid #000;
}

.yht-scoretable button#Total,
.yht-scoretable button#Bonus,
.yht-scoretable button#Sum {
    font-weight:bold;
}

.yht-scoretable #Name {
    width: 70px;
    max-width: 70px;
}

.yht-scoretable thead th {
    height: 25px;
    background-color: rgb(176, 213, 218);
}

.yht-scoretable button {
    font-size: 1.3rem;
    font-weight:bold;
    width: 70px;
    background-color: white;
    outline: 0;
    padding: 5px;
}

.yht-scoretable button:not(#Sum):not(#Bonus):not(#Total):not(.disabled):not(.check-true) {
    border: 3px solid gray;
    border-radius: 10px;
}

.yht-scoretable button.check-true {
    border: 3px solid #00000000;
}

.yht-scoretable .check-false.disabled {
    color: #00000000;
}

.yht-scoretable .check-false.zero:not(.disabled) {
    color: #ff0000;
}

.yht-scoretable #Sum,
.yht-scoretable #Bonus,
.yht-scoretable #Total,
.yht-scoretable .disabled {
    border-style: none;
}

.yht-scoretable button:hover:not(#Sum):not(#Bonus):not(#Total):not(.disabled):not(.check-true) {
    cursor: pointer;
    background-color: rgb(255, 224, 224);
}